a {
    color: #000;
    text-decoration: none;
    transition: all ease .5s;
    outline: none;
}

a:hover {
    color: #22aea5 !important;
}

body {
    font-family: 'Roboto', sans-serif;
}

.slick-slide {
    outline: none;
}

.btn-primary {
    background-color: #22aea5;
    border: none;
}

#slider-range {
    background-color: #22aea5;
    position: relative;
    width: 90%;
    height: 4px;
    margin: 30px auto;
}

.filtering__widget .ui-slider-range {
    width: 100%;
    height: 4px;
    background-color: #555656;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    font-size: 0.7em;
    display: block;
    border: 0;
    background-position: 0 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.filtering__widget .ui-slider-handle {
    left: 0;
    top: 50% !important;
    transform: translateY(-50%);
    background: #fff;
    z-index: 9999;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 1px;
    position: absolute;
    border: 1px solid#22aea5;
    outline: none;
}

.price {
    position: relative;
}

.price:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -12px;
    background-color: #b3b3b3;
}

.slider-result span {
    padding: 4px 10px;
    background-color: #ececec;
    color: #59585B;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
}

.price .btn-primary {
    background-color: #555656;
    color: #fff;
    font-weight: 500;
    border: none;
}

.price .apply-btn {
    margin-top: 10px;
}

.reset .reset-btn {
    margin-top: 20px;
}


/*start header*/


/* .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1040;
} */

.header-top {
    background-color: #22aea5;
    height: 30px;
    line-height: 30px;
    padding: 0 2rem;
    transition: all ease .4s;
    position: relative;
}

.header-top .header-top-text p {
    font-size: .7rem;
    color: #FFF;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.header-top .close-header-top {
    color: #FFF;
    position: absolute;
    top: 0;
    right: 40px;
    font-size: .9rem;
}

.header-top .lang_top-menu a {
    color: #FFF;
    position: absolute;
    top: 0;
    right: 58px;
    font-size: .9rem;
}

.header-top .lang_top-menu a:hover {
    color: #FFF !important;
    text-decoration: none;
}

.header-top .lang_top-menu a span {
    padding-right: 5px;
    text-decoration: underline;
}


/*header-bottom*/

.header-bottom {
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 5px 2px -2px rgb(0 0 0 / 20%);
    border-bottom: 1px solid #f3f3f3;
    padding: 10px 0;
}

.header-bottom.sticky {
    position: fixed;
    width: 100%;
    background-color: #FFF;
    top: 0;
    transition: all ease-out .3s;
    z-index: 9999;
    box-shadow: 0 5px 2px -2px rgb(0 0 0 / 20%);
}

.header-bottom .header-bottom-wrap {
    padding: 10px 2rem;
    display: flex;
    align-items: center;
}

.header .header-bottom-wrap>div {
    flex: 1;
}

header .navbar {
    background-color: transparent;
    position: static;
    padding: 0;
}

.navbar-collapse {
    position: static;
}

.navbar-toggler span {
    background-color: #000;
    width: 20px;
    height: 1px;
    margin-bottom: 5px;
    display: block;
}

.navbar-toggler {
    border: none;
    border-radius: 0;
    list-style: none;
    outline: 0;
    box-shadow: none;
}

.navbar-toggler:focus {
    outline: none;
    list-style: none;
}

.header .navbar-nav li.nav-item {
    padding-right: 2rem;
    color: #FFF;
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link {
    white-space: nowrap;
    transition: .3s ease;
    position: relative;
    color: #000;
    letter-spacing: .04rem;
    position: relative;
    line-height: 2.5rem;
    padding: 0;
}

.navbar-light .navbar-nav .sale-link {
    color: #76090c !important;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link.all-brands {
    color: #22aea5;
}

.submenu-title {
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    margin-bottom: 1rem;
    position: relative;
    color: #22aea5;
}

.submenu-title:hover {
    text-decoration: none;
}

.sub-menu ul li.nav-item {
    flex-basis: 50%;
    margin: 0;
}

.sub-menu ul li.nav-item .nav-link {
    color: #000;
    text-transform: capitalize;
    padding: 0;
    line-height: 30px;
    letter-spacing: 0;
    font-size: .9rem;
}

.header-bottom-logo a {
    display: block;
}

.header-bottom-search {
    position: relative;
    width: 100%;
}

.header-bottom-search img {
    position: absolute;
    top: 50%;
    right: 10px;
    max-width: 16px;
    transform: translateY(-50%);
}


/* .header-bottom-logo img {
    max-height: 53px;
} */

.header .header-bottom-icons ul li {
    margin-right: 2rem;
    max-width: 20px;
}

.header .header-bottom-icons>ul>li>a {
    white-space: nowrap;
    font-size: .8rem;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
    position: relative;
}

.header .header-bottom-icons>ul>li>a>i {
    display: block;
    font-size: 1rem;
    margin-bottom: .4rem;
}

.header .header-bottom-icons>ul>li.cart-icon {
    position: relative;
}

.header .header-bottom-icons>ul>li .cart-counter {
    position: absolute;
    top: -7px;
    right: -8px;
    width: 18px;
    height: 18px;
    background-color: #22aea5;
    border-radius: 100%;
    line-height: 15px;
}

.header .header-bottom-icons>ul>li .cart-counter span {
    font-size: 11px;
    color: #FFF;
}

.first-level {
    position: relative;
}

.second-level {
    position: relative;
}

.first-level-title {
    font-weight: 600;
    text-decoration: none;
    color: #000;
}

.first-level-title:hover {
    text-decoration: none;
}

.brand-col {
    position: relative;
}

.brand-col:before {
    content: "";
    position: absolute;
    top: 0;
    right: 50px;
    width: 2px;
    height: 100%;
    background-color: #cecece;
}


/*seacrh modal*/

#searchModal .modal-content {
    background-color: transparent;
    border: none;
}

header .modal.fade .modal-dialog {
    transform: scale(.6);
}

header .modal.show .modal-dialog {
    transform: scale(1);
}

#searchModal .close {
    position: absolute;
    top: -11px;
    right: -9px;
    color: #FFF;
    opacity: .7;
    outline: none;
}

.modal-search-form {
    position: relative;
}

.modal-search-form i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}


/*end header*/


/*start mega banner*/

.left-banner {
    width: 100%;
    height: 100%;
}

.left-banner img {
    height: 100%;
    width: 100%;
}

.top-right-banner img {
    width: 100%;
}

.bottom-right-banner img {
    width: 100%;
}

.mega-banner-slider .slick-dots {
    position: absolute;
    bottom: 35px;
}

.mega-banner-slider .slick-dots li {
    opacity: 0.5;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #FFF;
}

.mega-banner-slider .slick-dots li.slick-active {
    opacity: 1;
}

.slick-dots li button:before {
    font-size: 0;
}

.big-banner .mega-banner-slider a {
    position: relative;
}

.big-banner .mega-banner-slider a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.mega-banner-slider .slick-dotted.slick-slider {
    margin-bottom: 0;
}


/*end big banner*/


/*start brands*/

.brands-slider .img-wrapper {
    padding: 0 11px;
}

.brands-slider .slick-next {
    background-color: #22aea5;
    box-shadow: 0px 0px 5px #CCC;
    border-radius: 2px;
    right: 0;
    color: #000;
    width: 28px;
    height: 30px;
}

.brands-slider .slick-prev {
    background-color: #FFF;
    box-shadow: 0px 0px 5px #CCC;
    border-radius: 2px;
    left: 0;
    color: #000;
    width: 26px;
    display: none !important;
}

.slick-next:before {
    content: '\f30b';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    color: #FFF;
    padding: 10px 0;
}

.slick-prev:before {
    content: '\f30a';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    color: #FFF;
    padding: 10px 0;
}


/*end brands*/


/*start brands collection*/

.brands-collection .collection-btn {
    margin-top: 30px;
    text-align: center;
}

.brands-collection .collection-btn a {
    color: #000;
    text-decoration: underline;
    font-weight: 600;
}

.brands-collection .collection-img.left-img {
    padding-right: 12px;
}

.brands-collection .collection-img.center-img {
    padding: 0 6px;
}

.brands-collection .collection-img.right-img {
    padding-left: 12px;
}


/*end brands collection*/


/*start footer*/

.footer-top {
    background-color: #d4d4d4;
    padding: 50px 0;
}

.footer-row {
    padding: 0 2rem;
}

footer a {
    text-decoration: none;
    color: #000;
    list-style: none;
}

footer a:hover {
    text-decoration: none;
    color: #000;
    list-style: none;
}

footer .footer-title {
    margin-bottom: 20px;
    font-weight: 600;
}

footer .footer-title h6 {
    color: #000;
    font-weight: 600;
}

footer ul li a.footer-link {
    font-size: 14px;
    font-weight: 500;
}

.subscribe-form-wrapper h6 {
    font-size: 14px;
}

.subscribe-title {
    padding-bottom: 20px;
    font-weight: 600;
}

.subscribe-form {
    margin-bottom: 20px;
}

.footer-icons ul li {
    margin-right: 32px;
    font-size: 18px;
}

.footer-bottom-icons ul li {
    margin-right: 20px;
}

.footer-bottom-icons ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom-icons ul li a i {
    font-size: 25px;
    color: #575759;
}

.copyright-inner img.link-img {
    padding-left: 10px;
}

.copyright-inner span {
    font-size: 1rem;
    font-weight: 500;
}


/*end footer*/


/*******************************************start listing***********************************************/

.body-content {
    min-height: 19vh;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 1rem;
    color: #6c757d;
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.breadcrumb {
    background-color: #f1f1f1;
    padding: .5rem 1rem;
}

.breadcrumb-item.active {
    color: #22aea5;
    font-weight: 500;
}


/*start filter section*/

.filteration {
    background-color: #d4d4d4;
    padding: 10px 1rem;
}

.filter-row {
    position: relative;
}

.filter-row:before {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 102%;
    height: 1px;
    background-color: #e6e6e6;
}

.filteration .right-filter .btn {
    padding: .375rem 1.75rem;
}

.product-filter {
    position: static;
}

.grid-filter-popup {
    background-color: #FFF;
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 10px;
    padding: 10px 20px;
    box-shadow: 0 2px 6px 0 rgb(40 40 40 / 10%);
    z-index: 400;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.5s;
    /* max-height: 60vh;
    overflow-y: auto; */
}

.grid-filter-popup.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.close__nav {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    color: #1f3755;
    font-size: 1.1rem;
    cursor: pointer;
}

.grid-filter-popup .form-group {
    position: relative;
}

.grid-filter-popup .form-group i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.filteration .sub-category-parent {
    max-height: 27vh;
    overflow-y: auto;
}

.filteration .form-check {
    padding-bottom: 6px;
}

.filteration .form-check.second-level-child {
    padding-top: 6px;
}

.clear-button {
    color: #22aea5;
    font-weight: 600;
    text-decoration: none;
    transition: all ease .5s;
    font-size: 14px;
}

.clear-button:hover {
    text-decoration: none;
    color: #868686 !important;
}

.see-more:hover {
    text-decoration: none;
    color: #868686 !important;
}

.grid-filter-popup .sub-category-holder .sub-category {
    border: 1px solid #000;
    width: 85px;
    margin-right: 10px;
    margin-bottom: 7px;
    text-align: center;
}

.grid-filter-popup .sub-category-holder .sub-category a {
    color: #000;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    padding: 4px 0;
    display: block;
}

.grid-filter-popup .color-wrapper .sub-color {
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    margin-right: 18px;
    margin-bottom: 15px;
    text-align: center;
}

.grid-filter-popup .color-wrapper .sub-color a {
    color: #000;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    padding: 4px 0;
    display: block;
}

.filter-popup-btns {
    justify-content: flex-end;
    margin-top: 45px;
}

.filter-btn-row {
    justify-content: flex-end;
}

.apply-btn {
    margin: 0 25px;
}

.filteration .right-filter .btn {
    padding: 0.375rem 1.5rem;
}


/*end filter section*/


/*start lisiting products*/

.product-card {
    position: relative;
    overflow: hidden;
    transition: all ease .5s;
    box-shadow: 0px 3px 7px 0px #d3d3d3;
}

.product-img-wrapper {
    position: relative;
    overflow: hidden;
    background-color: #ecedef;
}

.product-img-wrapper a img {
    display: block;
    margin: auto;
}

.listing-wishlist {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.auto-promotext {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #404041;
    color: #FFF;
    width: 200px;
    padding: 1px 15px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    z-index: 1;
}

.product-thumbnails {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    transition: all ease .5s;
}

.product-thumbnails ul li {
    width: 52px;
    height: 30px;
    margin-right: 10px;
    border: 1px solid #000;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.product-thumbnails ul li:hover {
    border: 2px solid #22aea5;
}

.product-details {
    position: relative;
    padding: 5px 10px;
}

.product-name h5 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-price {
    font-weight: 600;
}

.product-prices .product-del-price {
    position: relative;
    margin-left: 25px;
}

.product-prices .product-del-price:before {
    content: "";
    position: absolute;
    background-color: rgb(136, 0, 0);
    top: 50%;
    right: 0;
    width: 95%;
    height: 1px;
    transform: rotate(355deg) translateY(-50%);
}

.promotext span {
    font-size: 13px;
    font-weight: 600;
}

.product-details .btn {
    transition: all ease .5s;
    margin-top: 10px;
}


/*end lisiting products*/


/*******************************************end listing*************************************************/


/******************************************start product page******************************************/

figure.containerZoom.active {
    z-index: 2;
}

.inner-product-image {
    border: 1px solid #dedede;
}

.inner-product-slider .slick-dots {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.inner-product-slider .slick-dots li {
    width: 10px;
    height: 10px;
}

.inner-product-slider .slick-dots li button {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, .2);
    border-radius: 50%;
}

.inner-product-slider .slick-dots li.slick-active {
    background: #22aea5;
    border-radius: 50%;
}

.right-side-product {
    padding-right: 17px;
}

.inner-product-details {
    position: relative;
}

.inner-product-details:before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #cecece;
}

.product-page .product-price {
    font-size: 20px;
}

.availability {
    color: #76090c;
    font-weight: 500;
}

.review-button {
    margin-left: 10px;
}

.review-button a {
    font-size: 14px;
    text-decoration: underline;
    color: #22aea5;
}

.inner-product-size {
    position: relative;
}

.inner-product-size:before {
    content: "";
    position: absolute;
    bottom: -22px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #cecece;
}

.inner-product-size ul li {
    width: 80px;
    height: 36px;
    margin-right: 8px;
    margin-bottom: 8px;
    border: 1px solid #000;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.inner-product-size ul li.active {
    border: 2px solid #22aea5;
}

.inner-product-size ul li a {
    font-size: 15px;
    text-decoration: none;
}

.sizechart-button a {
    font-size: 13px;
    text-decoration: underline;
    color: #22aea5;
}

.inner-product-color {
    position: relative;
    margin-top: 2.5rem;
}

.inner-product-color:before {
    content: "";
    position: absolute;
    bottom: -22px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #cecece;
}

.inner-product-color ul li {
    width: 50px;
    height: 45px;
    margin-right: 18px;
    margin-bottom: 8px;
    border: 1px solid #000;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.inner-product-color ul li.active {
    border: 2px solid #22aea5;
}

.wishlist-btn .btn {
    background-color: #FFF;
    border: 1px solid #ced4da;
    padding: .375rem 1.2rem;
}

.addtobag-btn {
    width: 100%;
}

.addtobag-btn .btn-secondary {
    width: 100%;
}

.select_qty {
    width: 73px;
}

.select_qty .form-control {
    padding: .375rem 0;
    padding-left: 12px;
}

.inner-product-icons ul li {
    margin-right: 20px;
}

.inner-product-delivery span {
    font-size: 14px;
}

.innerproduct-address_wrapper {
    font-size: 13px;
}

.click-order-details {
    border: 1px solid #ced4da;
    padding: 15px;
}

.inner-product-fees {
    padding-top: 15px;
    font-size: 13px;
}

.click-order-btn {
    position: relative;
}

.click-order-btn .btn {
    padding: .5rem .75rem;
}

.click-order-btn i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    color: #FFF;
    font-size: 20px;
}

.card-title button {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}

.card-title button:focus {
    color: #000;
    text-decoration: none;
    box-shadow: none;
}

.card-title button:hover {
    color: #000;
    text-decoration: none;
}

.card-wrapper .card-body {
    padding-top: 0;
}

.accordion .card-title {
    cursor: pointer;
}


/*start related product slider*/

.best-find {
    margin: 60px 0;
}

.best-find-title {
    margin-bottom: 15px;
    margin-left: 35px;
}

.slick-next {
    right: 0;
    z-index: 1;
}

.slick-next:before {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #000;
}

.slick-prev {
    left: 0;
    z-index: 1;
}

.slick-prev:before {
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #000;
}

.best-find-slider .slick-slide {
    padding: 0 13px;
}

.best-find-slider .slick-list {
    padding: 10px 0;
}


/*end related product slider*/


/*start best find slider*/

.related-product {
    margin: 60px 0;
}

.related-product-title {
    margin-bottom: 15px;
    margin-left: 35px;
}

.related-product-slider .slick-slide {
    padding: 0 13px;
}

.related-product-slider .slick-list {
    padding: 10px 0;
}


/*end best find slider*/


/*start other viewed slider*/

.other-viewed {
    margin: 60px 0;
}

.other-viewed-title {
    margin-bottom: 15px;
    margin-left: 35px;
}

.other-viewed-slider .slick-slide {
    padding: 0 13px;
}

.other-viewed-slider .slick-list {
    padding: 10px 0;
}


/*end other viewed slider*/


/*start recently viewed slider*/

.recently-viewed {
    margin: 60px 0;
}

.recently-viewed-title {
    margin-bottom: 15px;
    margin-left: 35px;
}

.recently-viewed-slider .slick-slide {
    padding: 0 13px;
}

.recently-viewed-slider .slick-list {
    padding: 10px 0;
}


/*end recently viewed slider*/


/******************************************end product page******************************************/


/*start inner product slider*/

section.inner-product-slider {
    padding-top: 110px;
}

.inner-product-slider .slick-next {
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
}

.inner-product-slider .slick-next:before {
    content: '\f0dd';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
    line-height: 0;
}

.inner-product-slider .slick-prev {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.inner-product-slider .slick-prev:before {
    content: '\f0d8';
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
}

.inner-product-slider .slick-slider {
    padding: 30px 19px;
}

.inner-product-slider .sub-img .sub {
    border: 1px solid #CCC;
}

.inner-product-slider .slider-nav .slick-current .sub {
    border: 1px solid #1f3755;
}

.inner-product-slider .main-img {
    width: 100%;
}

.inner-product-slider .slickslider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-product-slider ul {
    list-style: none;
}

.inner-product-slider .fancy-inner {
    color: transparent;
    border: none;
    outline: none;
    text-decoration: none;
}


/*end inner product slider*/


/***********************************start checkout***************************************************/

.payment-steps {
    position: relative;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    padding: 15px;
}

.payment-steps:before {
    content: "";
    position: absolute;
    width: calc(100% - 140px);
    height: 1px;
    top: 50%;
    left: 86px;
    background-color: #ced4da;
}

.payment-steps li {
    text-align: center;
    background-color: #fff;
    z-index: 1;
}

.payment-steps-inner {
    opacity: 0.5;
}

.payment-steps a {
    text-decoration: none;
    color: #000;
}

.payment-steps-inner.active-payment {
    opacity: 1;
}

.payment-steps-inner.active-payment i {
    color: #22aea5;
}

.payment-steps i {
    display: block;
    font-size: 26px;
    padding-bottom: 3px;
}

.payment-cash {
    padding: 20px 10px;
    background-color: #f5f5f5;
    margin-bottom: 16px;
}

.payment-cash .cash-icon {
    width: 37px;
}

.payment-credit {
    padding: 20px 10px;
    background-color: #f5f5f5;
}

.payment-credit i {
    font-size: 27px;
}

.return {
    cursor: pointer;
}

.return a {
    text-decoration: none;
    color: #000;
    padding-left: 3px;
}

.confirm-payment .btn {
    padding: 0.6rem 2.75rem !important;
}

.payment-order-summary {
    background-color: #f5f5f5;
    padding: 5px 50px;
}

.payment-order-summary .input-group button {
    width: 60px;
    padding: 7px 0 !important;
}

.payment-summary-details {
    border-bottom: 1px solid #ced4da;
}

.payment-order-summary form {
    border-bottom: 1px solid#ced4da;
}

.payment-total span {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}

.payment-product-wrapper .payment-product-img {
    width: 100px;
    text-align: center;
    position: relative;
    display: block;
}

.payment-product-count {
    position: absolute;
    top: 0;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #59585B;
    color: #fff;
    border-radius: 100%;
}

.basket-product-free i {
    color: #59585B;
}

.payment-product-wrapper {
    border-top: 1px solid #ced4da;
    max-height: 60vh;
    overflow-y: auto;
}

.payment-product-inner {
    border-bottom: 1px solid #ced4da;
}

.payment-product-inner:last-of-type {
    border: none;
}

.payment-slider li {
    border: 1px solid #b1b1b1;
    border-radius: 4px;
    padding: 13px;
    height: 160px;
}

.payment-slider .slick-slide {
    margin-right: 10px;
}

.payment-default-address {
    justify-content: flex-end;
    font-size: 14px;
}

.payment-default-address p {
    font-size: 14px;
    color: #22aea5;
    font-weight: 600;
}

.payment-default-address a span {
    text-decoration: underline;
}

.payment-slider-inner label {
    width: 93%;
}

.payment-slider-inner label p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.payment-slider-inner {
    position: relative;
}

.payment-slider-inner .form-check {
    width: 100%;
}

.payment-slider-inner .payment-edit-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.confirmation i {
    font-size: 70px;
}

.confirmation-btns button {
    width: 200px;
}

.confirmation-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment-order-summary .payment-details .payment-product-name {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.payment-order-summary .payment-details .payment-product-name h6 {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.my-items-slider .my-items-wrapper {
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    padding: 20px 7px;
    margin: 5px 5px;
    background-color: #f5f5f5;
}

.my-items-slider .my-items-img img {
    width: 100px;
    height: auto;
}

.my-items-slider .slick-slide {
    margin-right: 10px;
}

.my-items-slider .my-items-img {
    position: relative;
}

.my-items-slider .my-items-img .my-items-counter {
    position: absolute;
    top: -6px;
    right: -4px;
    width: 18px;
    height: 18px;
    background-color: #514f4f;
    line-height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-items-slider .my-items-img .my-items-counter span {
    font-size: 11px;
    color: #FFF;
}

.my-items-slider .my-items-name h5 {
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.my-items-slider .del-price {
    position: relative;
    margin-left: 10px;
}

.my-items-slider .del-price:before {
    content: "";
    position: absolute;
    background-color: rgb(136, 0, 0);
    top: 50%;
    right: 0;
    width: 95%;
    height: 1px;
    transform: rotate(355deg) translateY(-50%);
}

#addAddress .modal-dialog {
    max-width: 850px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.defaultslider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.defaultslider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.defaultslider {
    background-color: #22aea5;
}

input:focus+.defaultslider {
    box-shadow: 0 0 1px #22aea5;
}

input:checked+.defaultslider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.defaultslider.round {
    border-radius: 34px;
}

.defaultslider.round:before {
    border-radius: 50%;
}

.addAddress-btns .submit-btn .btn {
    padding: 0.5rem 3.75rem;
}

.disabled {
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.my-items-slider .slick-next {
    background-color: #22aea5;
}

.my-items-slider .slick-next:before {
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #FFF;
}

.my-items-slider .slick-prev {
    background-color: #22aea5;
}

.my-items-slider .slick-prev:before {
    content: "\f0d9";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #FFF;
}


/***********************************end checkout***************************************************/